.wrapper {
	width: auto;
	margin: 10px auto;
	display: inline-block;
}

.main-header {
	background-color: #EAEAEA;
	text-align: center;
	line-height: 2.5;
}

.main-header h1 {
	font-size: 2em;
	margin: 0;
}

main {
	padding: 1.5em 1.5em 1.5em 1.5em;
	border: 1px solid #CCC;
	border-top: 0;
    text-align: left;
}

body {
    text-align: center;
}

.error {
	color: red;
}

.field-detail {
	font-size: 2em;
	
}

.align-left {
	color: gray;
	float: left;
	line-height: 36px;
}

.align-right {
	color: gray;
	float: right;
	line-height: 36px;
}

table {
	padding: 1.5em;
}

form {
	padding: 1.5em;
}

.prefix {
    width: 68%;
}

